.relatorio-container {
    padding-left: 270px; /* Espaço para a sidebar */
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #2f5d80
}

.relatorio-titulo {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #e0e1dd;
}

.filtro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.input-filtro {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.botao-filtro {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #415a77;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.botao-filtro:hover {
    background-color: #1b263b;
}

.botoes-exportar {
    margin-bottom: 20px;
}

.botao-exportar {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #3f7cac;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.botao-exportar:hover {
    background-color: #2f5d80;
}

.chamado-card {
    background-color: #1b263b;
    color: #e0e1dd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chamado-titulo {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #e0e1dd
}

.chamado-status {
    font-weight: bold;
    margin-bottom: 10px;
    color: #e0e1dd
}

.historico-titulo {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #e0e1dd;
}

.historico-lista {
    list-style-type: disc;
    padding-left: 20px;
    color: #e0e1dd
}

.mensagem-vazia {
    color: #888;
    font-style: italic;
    margin-top: 20px;
}
